body {
  background-color: #00cc66;
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 12px;
  font-weight: 350;
}

div.table-title h3 {
   color: #00aa66;
   font-size: 25px;
   font-weight: 350;
   font-family: "Times New Roman", Georgia, Serif;
}

.table-fill {
  background: white;
  border-radius:3px;
  height: 300px;
  margin: auto;
  max-width: 500px;
  width: 100%;
}

th {
  color:white;
  background:#005500;
  font-size:20px;
  font-weight: 100;
  padding:10px;
  text-align:left;
  vertical-align:middle;
}
tr {
   color:#005500;
   background:white;
  font-size:20px;
  font-weight: 100;
  padding:10px;
  text-align:left;
  vertical-align:middle;
}
